;----------------------------------------------------------------------
; Script number = F27
; Title         = "Run Time (30fps)"
; Color         = "0,255,255"
; Created on    : 2009-04-29 12:30 -05:00
; Modified      : 2015-06-25 06:32 Z
; Version       : 2.3
; Created by    : 
; Keywords      : 
; Description   : 
;----------------------------------------------------------------------
;
Scene Laniakea_anim Run -1 30
